* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 50px;
}

section:nth-of-type(1) {
    background: linear-gradient(180deg, rgba(252, 230, 69, 1) 23%, rgba(253, 124, 29, 1) 52%, rgba(235, 47, 8, 1) 97%);
}

section:nth-of-type(2) {
    background: linear-gradient(180deg, rgba(235, 47, 8, 1) 22%, rgba(253, 29, 197, 1) 55%, rgba(35, 21, 230, 1) 93%);
}

section:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(35, 21, 230, 1) 22%, rgba(29, 253, 241, 1) 46%, rgba(201, 230, 36, 1) 88%);
}

div {
    margin: 5vh;
    animation-name: arrow;
    animation-duration: 0.7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(20px);
    }
}